@import "base.css";

.root {
  width: var(--content-width);
  height: 225px;
  margin: 0 auto;
  background: linear-gradient(to bottom, #E9E9E9, #6A6A6A);
  border: 1px solid var(--color-border);
  border-top: none;
}

.h1 {
  margin-top: 10px;
  text-align: center;
}

.checkbox {
  display: block;
  margin-top: 45px;
  text-align: center;
}

.opener {
  margin-top: 15px;
  text-align: center;
}

.button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: var(--color-pink);
  color: #fff;
  border: 0;
}
